In [1]:
t = (1,2,3)

In [2]:
t[0]

1

In [3]:
from collections import namedtuple

In [4]:
Dog = namedtuple('Dog','age breed name')

In [5]:
sam = Dog(age=2, breed='Lab',name='Sam')

In [6]:
sam

Dog(age=2, breed='Lab', name='Sam')

In [7]:
sam.age

2

In [9]:
sam.breed

'Lab'

In [10]:
sam[0]

2

In [11]:
Cat = namedtuple('Cat', 'fur claws name')

In [12]:
c = Cat(fur='Fuzzy', claws=False, name='Kitty')

In [13]:
c

Cat(fur='Fuzzy', claws=False, name='Kitty')