# Datetime

In [1]:
import datetime

In [2]:
t = datetime.time(5,25,1)

In [3]:
print(t)

05:25:01

In [4]:
t.hour

5

In [5]:
t.minute

25

In [6]:
t.second

1

In [7]:
print(datetime.time.min)

00:00:00

In [8]:
print(datetime.time.max)

23:59:59.999999

In [9]:
print(datetime.time.resolution)

0:00:00.000001

In [10]:
today = datetime.date.today()

In [11]:
print(today)

2017-12-14

In [12]:
today.timetuple()

time.struct_time(tm_year=2017, tm_mon=12, tm_mday=14, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=348, tm_isdst=-1)

In [13]:
today.year

2017

In [14]:
print(datetime.date.max)

9999-12-31

In [15]:
d1 = datetime.date(2017,12,14)

In [16]:
print(d1)

2017-12-14

In [17]:
d2 = d1.replace(year=1990)

In [18]:
print(d2)

1990-12-14

In [ ]:
d1